*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* iPhone 13 / 13 Pro - 1 */

position: relative;
width: 390px;
height: 844px;

background: linear-gradient(180deg, #0066FF 61.46%, #08C492 100%);

}
