@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@media  screen and (min-width: 390px) and (max-width: 844px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #title1 {
        position: absolute;
        width: 90%;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 7vw;
        line-height: 8vw;
        text-align: center;
        color: #89c853;
    }
    
    #title2 {
        position: absolute;
        width: 90%;
        top: 11%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 7vw;
        line-height: 8vw;
        text-align: center;
        color: #89c853;
    }
    
    .fti {
        position: absolute;
        width: 65%;
        height: auto;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #file {
        position: absolute;
        width: 60%;
        height: 6%;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #feed {
        box-sizing: border-box;
        position: absolute;
        width: 75%;
        height: 24.3%;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border: 0.8vw solid #89c853;
        border-radius: 3vw;
    }
    
    #feito {
        position: absolute;
        width: 38%;
        height: 5%;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        background: #3526FF;
        border-radius: 5vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
}

@media  screen and (min-width: 1024px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #title1 {
        position: absolute;
        width: 90%;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        color: #89c853;
    }
    
    #title2 {
        position: absolute;
        width: 90%;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        color: #89c853;
    }
    
    .fti {
        position: absolute;
        width: 25%;
        height: auto;
        top: 28%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #file {
        position: absolute;
        width: 60%;
        height: 6%;
        top: 55%;
        left: 70%;
        transform: translateX(-50%);
    }
    
    #feed {
        box-sizing: border-box;
        position: absolute;
        width: 80%;
        height: 30%;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border: 0.4vw solid #89c853;
        border-radius: 2vw;
    }
    
    #feito {
        position: absolute;
        width: 30%;
        height: 6%;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        background: #3526FF;
        border-radius: 2vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 2.5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
}