@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

#map {
    height: 100vh;
    width: 100%;
}

#❌{
    margin-top: 50vh;
    margin-left: 9vw;
    width: 10vh;

}

#navbar{
    background-color: #265DFF;
}

#a{
    font-family: 'Kavoon';
    color: #89c853 !important;
}

#offcanvasNavbar{
    background-color: #265DFF;
    font-family: 'Kavoon';
    color: #89c853;
}

