@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@media  screen and (min-width: 390px) and (max-width: 844px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
    }

    #title_cad {
        position: absolute;
        width: 74%;
        height: auto;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 8.4vw;
        line-height: 5vw;
        text-align: center;
        color: #89c853;
    }

    #inform {
        position: absolute;
        width: 75%;
        height: auto;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }

    .form_cad {
        position: absolute;
        display: flex;
        width: 80%;
        height: 35vh;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .form_cad label {
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 2.5vw;
        text-align: center;
        color: #89c853;
    }

    .form_cad input {
        width: 70%;
        height: 2vh;
        background: #FFFFFF;
        border: 0.2vw solid #89c853;
        border-radius: 3vw;
    }

    #criar {
        position: absolute;
        width: 35%;
        height: 3vh;
        left: 50%;
        top: 85%;
        transform: translateX(-50%);
        background: #3526FF;
        border-radius: 4vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
}

@media  screen and (min-width: 1024px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
    }
    
    #title_cad {
        position: absolute;
        width: 74%;
        height: auto;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        color: #89c853;
    }
    
    #inform {
        position: absolute;
        width: 75%;
        height: auto;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }
    
    .form_cad {
        position: absolute;
        display: flex;
        width: 80%;
        height: 35vh;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .form_cad label {
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 2.5vw;
        text-align: center;
        color: #89c853;
    }
    
    .form_cad input {
        width: 70%;
        height: 2vh;
        background: #FFFFFF;
        border: 0.2vw solid #89c853;
        border-radius: 1vw;
    }
    
    #criar {
        position: absolute;
        width: 35%;
        height: 6vh;
        left: 50%;
        top: 85%;
        transform: translateX(-50%);
        background: #3526FF;
        border-radius: 2vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
}