@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@media screen and (min-width: 390px) and (max-width: 844px) {
    
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        /* iPhone 13 / 13 Pro - 1 */
        
        position: relative;
        width: 390px;
        height: 844px;
        
        background: linear-gradient(180deg, #0066FF 61.46%, #08C492 100%);
        
    }
    
    #title{
        /* Cadastro */
        
        position: absolute;
        width: 289px;
        height: 45px;
        left: calc(50% - 289px/2 + 0.5px);
        top: 83px;
        
        font-family: 'Kavoon';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        
        color: #07BA58;
        
        
    }
    
    .ftp{
        /* Design sem nome (7) 1 */
        
        position: absolute;
        width: 191px;
        height: 190px;
        left: calc(50% - 191px/2 + 0.5px);
        top: 253px;
        
        
    }
    
    #select{
        /* Selecione uma foto de perfil */
        
        position: absolute;
        width: 201px;
        height: 54px;
        left: calc(50% - 201px/2 + 0.5px);
        top: 443px;
        
        font-family: 'Kavoon', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
        
        color: #07BA58;
        
        
    }
    
    #pronto{
        /* Rectangle 5 */
        
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
        background: rgba(0, 26, 255, 0.34);
        border-radius: 20px;
        border-color: rgba(0, 26, 255, 0);
        
        /* Criar */
        
        left: 19.85%;
        right: 18.38%;
        top: 16.22%;
        bottom: 18.92%;
        
        font-family: 'Kavoon';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        
        color: #FFFFFF;
        
        /* Component 3 */
        
        width: 136px;
        height: 37px;
        left: calc(50% - 136px/2);
        top: 562px;
        
        
    }
}