@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

 @media  screen and (min-width: 390px) and (max-width: 844px){ 
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #entrar {
        position: absolute;
        width: 30%;
        height: 4%;
        left: 35%;
        top: 80%;
        background: #3526FF;
        border-radius: 4vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 4.5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #fsc {
        position: absolute;
        width: 40%;
        height: 6%;
        left: 30%;
        top: 93%;
        background: #3526FF;
        border-radius: 7vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 4vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #npl {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 87.2vh;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #em,
    #sn {
        position: absolute;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 5vw;
        line-height: 2.5vw;
        text-align: center;
        color: #89c853;
    }
    
    #em {
        top: 59vh;
    }
    
    #sn {
        top: 68vh;
    }
    
    #email,
    #senha {
        box-sizing: border-box;
        position: absolute;
        width: 50%;
        height: 2vh;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border: 0.2vw solid #89c853;
        border-radius: 3vw;
    }
    
    #email {
        top: 62vh;
    }
    
    #senha {
        top: 70.3vh;
    }
    
    #logo {
        position: absolute;
        width: 38vw;
        height: auto;
        left: 50%;
        top: 12%;
        transform: translateX(-50%);
    }
    
    #title1 {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 8vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }
    
    #title2 {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 32%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 7vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }
    
 }

/* Responsivo para desktop */
 @media  screen and (min-width: 1024px){ 
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #265DFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #entrar {
        position: absolute;
        width: 30%;
        height: 7%;
        left: 35%;
        top: 80%;
        background: #3526FF;
        border-radius: 2vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 2.5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #fsc {
        position: absolute;
        width: 40%;
        height: 7%;
        left: 30%;
        top: 93%;
        background: #3526FF;
        border-radius: 2vw;
        border: none;
        font-family: 'Kavoon', sans-serif;
        font-size: 2.5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #npl {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 87.2vh;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 2.5vw;
        line-height: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    #em,
    #sn {
        position: absolute;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 2vw;
        line-height: 2.5vw;
        text-align: center;
        color: #89c853;
    }
    
    #em {
        top: 58vh;
    }
    
    #sn {
        top: 66vh;
    }
    
    #email,
    #senha {
        box-sizing: border-box;
        position: absolute;
        width: 40%;
        height: 3vh;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border: 0.2vw solid #89c853;
        border-radius: 1vw;
    }
    
    #email {
        top: 62vh;
    }
    
    #senha {
        top: 70.3vh;
    }
    
    #logo {
        position: absolute;
        width: 25vw;
        height: auto;
        left: 50%;
        top: 12%;
        transform: translateX(-50%);
    }
    
    #title1 {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 3.5vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }
    
    #title2 {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 48%;
        transform: translateX(-50%);
        font-family: 'Kavoon', sans-serif;
        font-size: 3.5vw;
        line-height: 4vw;
        text-align: center;
        color: #89c853;
    }
    
 } 